body {
	background: url(img/back.png);

}
table{
	border: 6px inset #99CCFF;
	-moz-border-radius: 6px;
}
table td {
	border: 1px solid black;
	padding: 0.2em 2ex 0.2em 2ex;
	color: black;
}
table tr td {
	background-color: #A9E2FF;
}
}