{% extends "main/index.html" %}
{% block content %}
{% include "main/selected_routers.html" %}
{% if bridges_list %}
    <h2>Bridges:</h2>
    {% for router in selected_list %}
        <table>
        <tr><td>{{ router.name }}&nbsp;<a href="/create_bridges/"><button type="button">+</button></a></td></tr>
        <tr><td></td>
        {% for bridge in bridges_list %}
            {% if bridge.router_id == router %}
                <th> {{ bridge.name }}&nbsp;
                    <a href="/update_bridges/{{ bridge.id }}/"><button type="button">Edit</button></a>&nbsp;
                    <a href="/delete_bridges/{{ bridge.id }}/"><button type="button" onclick="">Delete</button></a></th>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>Name:</th>
        {% for bridge in bridges_list %}
            {% if bridge.router_id == router %}
                <td>{{ bridge.name }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>IP</th>
        {% for bridge in bridges_list %}
            {% if bridge.router_id == router %}
                <td>{{ bridge.ip }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>STP</th>
        {% for bridge in bridges_list %}
            {% if bridge.router_id == router %}
                <td>{{ bridge.stp_enabled }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>MAC</th>
        {% for bridge in bridges_list %}
            {% if bridge.router_id == router %}
                <td>{{ bridge.hw_id }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>Description</th>
        {% for bridge in bridges_list %}
            {% if bridge.router_id == router %}
                <td>{{ bridge.description }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        </table><br>
    {% endfor %}
{% else %}
    <p>No bridges are available.</p>
{% endif %}
{% endblock %}
