{% extends "main/routers.html" %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
<a href="/bridges/">Powrot</a>

{% endblock %}