<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/main/statics/style.css" />
</head>
<body>
    {% include "main/navigation.html" %}
    {% block content %}
        <h2>Witaj! użytkowniku!</h2>
    {% endblock %}
</body>
</html>