{% extends "main/index.html" %}
{% block content %}
{% include "main/selected_routers.html" %}
{% if interfaces_list %}
    <h2>Interfaces:</h2>
    {% for router in selected_list %}
        <table>
        <tr><td>{{ router.name }}&nbsp;<a href="/create_interfaces/"><button type="button">+</button></a></td></tr>
        <tr><td></td>
        {% for interface in interfaces_list %}
            {% if interface.router_id == router %}
                <th> {{ interface.name }}&nbsp;
                    <a href="/update_interfaces/{{ interface.id }}/"><button type="button">Edit</button></a>&nbsp;
                    <a href="/delete_interfaces/{{ interface.id }}/"><button type="button" onclick="">Delete</button></a></th>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>IP</th>
        {% for interface in interfaces_list %}
            {% if interface.router_id == router %}
                <td>{{ interface.ip }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>MAC</th>
        {% for interface in interfaces_list %}
            {% if interface.router_id == router %}
                <td>{{ interface.hw_id }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        <tr><th>Description</th>
        {% for interface in interfaces_list %}
            {% if interface.router_id == router %}
                <td>{{ interface.description }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        </table><br>
    {% endfor %}
{% else %}
    <p>No interfaces are available.</p>
{% endif %}
{% endblock %}
