{% extends "main/routers.html" %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href="/interfaces/">Powrot</a>

{% endblock %}