{% load menu %}
<link rel="stylesheet" type="text/css" href="/static/main/statics/menu.css" />
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side navbar-left"></div>
        <div class="navbar-content">
        {% if user.is_authenticated %}
            <ul id="nav">
                <li><a class="{% navactive request '^$' %}"
                href="/">Start</a></li>

                <li><a class="{% navactive request '^routers/$' %}"
                href="/routers/">Routers</a></li>

                <li><a class="{% navactive request '^interfaces/$' %}"
                href="/interfaces/">Interfaces</a></li>

                <li><a class="{% navactive request '^bridges/$' %}"
                href="/bridges/">Bridges</a></li>

                <li><a class="{% navactive request 'upload_config/$' $}"
                href="/upload_config/">Upload config</a></li>

                <li><a href="/logout/">Logout</a></li>
            </ul>
        {% else %}
            <a href="/login/">Login</a>
        {% endif %}
        </div>
        <div class="navbar-side navbar-right"></div>
    </div>
</div>