{% extends "main/index.html" %}
{% block content %}

    {% if routers_list %}
        <h2>Routers&nbsp;<a href="/refresh_configs/"><button type="button">Refresh</button></a></h2>
        <table>
            <tr>
                <td>Selected</td>
                <td>Name</td>
                <td>IP</td>
                <td>Login</td>
                <td></td><td></td>
            </tr>
        {% for item in routers_list %}
            <tr>
                <td><input type="checkbox" disabled="" {% if item.selected %}checked {% endif %} /></td>
                <td>{{ item.name }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.user }}</td>
                <td><a href="/update_routers/{{ item.id }}/">Edit</a>&nbsp&nbsp</td>
                <td><a href="/delete_routers/{{ item.id }}/">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No routers stored in database. Add routers.</p>
    {% endif %}
    </ br><a href="/create_routers/">Add new</a>

{% endblock %}