    {% if selected_list %}
        <h2>Selected Routers</h2>
        <table>
            <tr>
                <td>Name</td>
                <td>IP</td>
                <td>Login</td>
            </tr>
        {% for item in selected_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.user }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No selected routers are available. Add routers.</p>
    {% endif %}
    <a href="/routers/">Edit routers</a>