{% extends "main/index.html" %}
{% block content %}
{% include "main/selected_routers.html" %}
<!-- Upload form. Note enctype attribute! -->
        <h2>Upload config for selected routers::</h2>
        <form action="/upload_config/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>
                {{ form.file.errors }}
                {{ form.as_p }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

{% endblock %}